
.background{
  top: 0;
  left: 0;
  position: relative;
}

.head{
    color: red;
}

.boxes{
    border-radius: 10px;
    background-color: black;
}

.backgroundImg{
  height: 100%;
  width: 100%;
  filter: brightness(35%);
  
}

.dropbtn {
  background-color: red;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
    z-index: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
    border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
    border-radius: 10px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: darkred;}

.logoImg{
  position: fixed;
  height: 30%;
  margin-top: -4%;
  margin-left: -50%;
}